<h2>All Heroines</h2>

<!-- TODO: Implement '/search' route in 'HeroinesController' -->
<%= form_with(url: "#", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to(heroine.super_name, "/heroines/#{heroine.id}") %>
    </li>
    <br>
  <% end %>
</ul>
