<h1> <%= @heroine.super_name %> </h1>

<h3> <%= @heroine.name %>, commonly known as <%= @heroine.super_name %>, is the heroine with the power of <%= @heroine.power.name.upcase %></h3>

<p> <%= link_to "Back to all Heroines", heroines_path %> </p>